<div class="op-widget" id="op-menu-widget">
	
	<div class="op-widget-body">
		<ul class="op-list" id="op-list-menu">
			
		</ul>
	</div>

	<div class="op-widget-footer">
		<a class="op-toggle" href="#" title="appDev Designs">
			<img src="<%= baseURL %>/images/appdev_logo_white.png" />
                        <div style="color: #888; font-size: 8px; text-align: center;"><%=typeof version == "undefined" ? "0.0.1": version%></div>
        	</a>
	</div>
</div>
