/* Begin Variables */
#bodyBG {color:$bodyBG};

#headerColor {color:$headerColor};
#headerBG {color:$headerBG};

#navColor {color:$navColor};
#navBG {color:$navBG};

#paginationBtnColor {color:$paginationBtnColor};
#paginationBtnBG {color:$paginationBtnBG};

#paginationActiveBtnColor {color:$paginationActiveBtnColor};
#paginationActiveBtnBG {color:$paginationActiveBtnBG};

#btnColor {color:$btnColor};
#btnBG {color:$btnBG};

#navBtnColor {color:$navBtnColor};
#navBtnBG {color:$navBtnBG};

#navActiveBtnColor {color:$navActiveBtnColor};
#navActiveBtnBG {color:$navActiveBtnBG};

#tableHeaderColor {color:$tableHeaderColor};
#tableHeaderBG {color:$tableHeaderBG};

#tableRowSelectColor {color:$tableRowSelectColor};
#tableRowSelectBG {color:$tableRowSelectBG};
/* End Variables */

body {
  background: $bodyBG !important;
}

.op-masthead, #op-menu-widget, .op-navbar-lpanel {
  background: $headerBG !important;
}

.op-masthead,#op-masthead-sublinks a, #op-menu-widget {
  color: $headerColor !important;
  opacity: 1!important;
}

.op-widget-horizontal-nav {
  background: $navBG !important;
}

.op-widget-horizontal-nav a {
  color: $navColor !important;
  opacity: 0.5!important
}

.op-widget-horizontal-nav li.selected a{
  color : $paginationBtnBG !important;
  opacity: 1!important;
}

/* Pagination */
ul.pagination li a , button.webix_pager_item {
	color : $paginationBtnColor !important;
	background : $paginationBtnBG !important;
	border-color: $paginationBtnBG !important;
}

ul.pagination li.active a, button.webix_pager_item_selected {
	color : $paginationActiveBtnColor !important;
	background : $paginationActiveBtnBG !important;
	border-color: $paginationActiveBtnBG !important;
}

/* Buttons */
.btn, .webix-btn, .webixbutton, .webixtype_base, .webixtype_next, .webixtype_prev, .webix_img_btn_abs_top, .webix_el_box .webixtype_form, .webix_input_icon {
	color : $btnColor !important;
	background : $btnBG !important;
	border-color: $btnBG !important;
}

/* Tabs */
.nav-tabs li a, .webix_item_tab,.webix_after_all_tabs{
	color : $navBtnColor !important;
	background : $navBtnBG !important;
	border-color: $navBtnBG !important;
}

.nav-tabs li.active a, .webix_item_tab.webix_selected {
	color : $navActiveBtnColor !important;
	background : $navActiveBtnBG !important;
	border-color: $navActiveBtnBG !important;
}

/* Datatables */
table thead, .webix_ss_header, .webix_header, .webix_header>div, .webix_dd_drag_column, .webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header ,.panel-default>.panel-heading {
	color : $tableHeaderColor !important;
	background: $tableHeaderBG !important;
}

.webix_column>div.webix_row_select {
	background: $tableRowSelectBG !important;
	color:	$tableRowSelectColor !important;
}